body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
}

#title {
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  color: black;
}

table {
    width: 350px;
    height: 420px;
    background-color: none;
    margin: auto;
    border-spacing: 5px; /*Spatie tussen rand en vakken*/
}
td {
    width: 60px;
    height: 60px;
    border: solid, black, 1px;
    padding: 0; /*Verwijdert extra ruimte in cel*/
}

.tileInput {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;  /* Zorgt dat padding en border niet buiten de cel vallen */
    border: none; /* De rand verwijderen */
    text-transform: uppercase;
}

.correct {
  background-color: #bfb74b;
}

.exists {
  background-color: #f2ae2e;
}

.incorrect {
  background-color: #787c7e;
}

#message{
  text-align: center;
  margin-top: 5px;
}

button{
  font-size: 15px;
  margin-top: 10px;
}

#counter_guesses{
  font-size: 15px;
  letter-spacing: 2px;
}

p{
  margin-bottom: 5px;
}
